{% extends 'base/base.html'%}

{% block title%}signup{% endblock %}

{% block content%}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form method="POST" action="." role="form">
                <legend>填写注册信息</legend>
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{form.username.id}}">{{form.username.label}}</label>
                    {{form.username}}
                    <span class="help-block">{{form.username.errors.0}}</span>
                </div>
                <div class="form-group">
                    <label for="{{form.email.id}}">{{form.email.label}}</label>
                    {{form.email}}
                    <span class="help-block">{{form.email.errors.0}}</span>
                </div>
                <div class="form-group">
                    <label for="{{form.password1.id}}">{{form.password1.label}}</label>
                    {{form.password1}}
                    <span class="help-block">{{form.password1.errors.0}}</span>
                </div>
                <div class="form-group {% if form.password2.errors %} has-error {% endif%}">
                        <label for="{{form.password2.id}}">{{form.password2.label}}</label>
                        {{form.password2}}
                        <span class="help-block">{{form.password2.errors.0}}</span>
                    </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">注册</button>
                </div>
            </form>
        </div>
    </div>   
</div>
{% endblock %}

{% block script %}
<script>
$(document).ready(function(){
    $('.form-group.has-error input').focus(function(){
        $(this).parent().removeClass("has-error")
    })
});
</script>

{% endblock %}
