<!DOCTYPE html>
{% load static %}
<html lang="zh-hans">
<head>
<title>{% block title%}{% endblock %}</title>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" href="https://cdn.staticfile.org/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="{% static 'css/style.css'%}">
</head>


<body class="skin-black">
{% block header%}
{% endblock %}
{% block left %}{% endblock %}
{% block content%}
{% endblock %}
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
 
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% block script %}
{% endblock %}
</body>

</html>