{% extends 'base/base.html' %}

{% block title%}index{% endblock %}

{% block header %}
<header class="header">
    <a href="{% url 'index' %}" class="logo">
        Blog
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="navbar-right">
            <ul class="nav navbar-nav">
                {% if request.user.is_authenticated %}
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user"></i>
                        <span>{{ request.user.username }} <i class="caret"></i></span>
                    </a>
                    <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
                        <li class="dropdown-header text-center">用户中心</li>
                        <li>
                            <a href="{% url 'profile' id=request.user.id %}">
                                <i class="fa fa-user fa-fw pull-right"></i>
                                用户中心
                            </a>
                            <a data-toggle="modal" href="#modal-user-settings">
                                <i class="fa fa-cog fa-fw pull-right"></i>
                                设置
                            </a>
                        </li>
                        
                        <li class="divider"></li>

                        <li><a href="{% url 'logout' %}">
                            <i class="fa fa-ban fa-fw pull-right"></i>
                            退出登陆
                        </a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{% url 'signup' %}">注册</a></li>
                 <li><a href="{% url 'login' %}">登陆</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
{% endblock header%}

{% block left %}{% endblock %}