<div>
    <ul class="pagination pagination-md pull-right">
        {% if page.has_previous %}
        <li><a href="?page={{page.previous_page_number}}">«</a></li>
        {% else %}
        <li class="disabled"><a href="">«</a></li>
        {% endif %}

        <li><a href="#">{{page.number}}</a></li>

        {% if page.has_next %}
        <li><a href="?page={{page.next_page_number}}">»</a></li>
        {% else %}
        <li class="disabled"><a href="">»</a></li>
        {% endif %}
    </ul>
</div>